Requirement
Your task is to build a RESTful API for a phone book application. Your APIs need to support an authentication method in order to secure your requests.  


Requirements 



mandatory endpoints: create, read, update, delete (feel free to extend these endpoints) 

use an authentication method to secure your requests (Examples: JWT token, oAuth, etc.) 

use a way to make your data persistent (database is preferred) 

write at least one unit test and a functional test  


We strongly recommend you use frameworks to solve the challenge if you added frameworks to your hackajob profile. Try to use good practices for the application's architecture. Extra points are given for correct use of design patterns and programming principles.  


Please describe in a README.md file how the application works and write any other additional info needed about your endpoints.
